/* @font-face {
	
	font-family: '28_Days';
	src: url(../fonts/28_days_later-webfont.eot);
	src: url(../fonts/28_days_later-webfont.woff2)
	format('woff2'),
		url(../fonts/28_days_later-webfont.woff)
	format('woff'),
		url(../fonts/28_days_later.ttf)
	format('truetype'),
		url(../fonts/28_days_later-webfont.svg)
	format('svg');
	font-weight: normal;
	font-style: normal;
}*/

.homeBgImage {
	
	position: relative;
	background-image: url(../img/homepageBackground.png);
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	background-attachment: fixed;
	width:  100%;
	height: 100vh;
		
}

.mainHeading {
	
	color: rgb(200, 177, 250);
	position: absolute;
	top: 5px;
	bottom: 15px;
	left: 20px;
	right: 20px;
	text-align: center;
	font-size: 2.5em;
	
}

.caption {
	
	color: rgb(200, 177, 250);
	position: absolute;
	top: 50px;
	bottom: 15px;
	left: 45px;
	right: 20px;
	text-align: center;
	font-size: 1.5em;
	
}

.haveaGoB {
	
	position: absolute;
	top: 20vh;
    left: 45vw;
    color: rgb(200, 200, 250);
    border-color: rgb(200, 177, 250);
    border-bottom-color: rgb(200, 177, 250);
    border-right-color: rgb(200, 177, 250);
    background-color: rgb(100, 98, 230);
	border-radius: 5px 5px;
	text-align: center;
	font-size: 1.4em;
    
}

.harryP{
    
    background-image: url(../img/harry.png);
    background-size: cover;
	position: absolute;
	top: 60vh;
	text-align: center;
	left: 45vw;
	width: 145px;
    height: 120px;
    cursor: none;
	
}

.goldenSnitch {
    
    background-image: url(../img/goldenSnitchcrop.gif);
    background-size: cover;
	position: absolute;
	top: 30vh;
	left: 80vw;
	text-align: right;
	width: 71px;
    height: 34px;
	
}

.bludger {
    background-image: url(../img/Bludger.png);
	background-size: cover;
	position: absolute;
	top: 30vh;
	right: 80vw;
	text-align: left;
	width: 120px;
    height: 120px;
	
    
}

